body {
    margin: 0;
    background: #c7dcf0;
    
}

.navcontainer {
    width: 80%;
    margin: auto;
    height: 100%;
}

header {
    background: #189AB4;
    height: 5em;
    
}
header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    
    float: right;
    width: 60%;
    height: 100%;
    
    
}

.navtitle {
    line-height: 1;
    float: left;
    margin: auto;
    padding: 1em;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}
nav ul li {
    height: fit-content;
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}

nav ul li:hover {
    background-color: #2db6d1;
}

@font-face {
    font-family: 'HelsinkiImport';
    src:url('fonts\Helsinki.woff2')format('woff2');
}

nav li a {
    color:  #ffffff;
    text-decoration: none;
    
    font-family: 'Open Sans', sans-serif;
}

.searchbox {
    margin: 3em;
    
    display: flex;
    
    justify-content: center;
}

.trackform {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
    width: 20em;
    align-items: center;
    justify-content: center;
    background:  #e2ecf6 ;
}

.trackform #query {
    border:0;
    outline:0;
    background-color: #e2ecf6;
    width: 25em;
}
.trackform #query:focus {
    outline:none!important;
}

.searchbutton {
    border: 0;
    border-radius: 10px;
    background-color: rgb(166, 187, 255);
    background-image: url("/static/images/search.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height:35px;
}

.searchbutton:active {
    background-color: rgb(185, 201, 255);
}

.jumbotron {
    height: 90vh;
    width: 50vw;
    background-color: #fcfcfc;
    border-radius: 40px;
    margin: 0 auto 2em auto;
    
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }