<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<link rel="stylesheet" href="/static/spreadsheets/homestyle.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet"> 
<body class="primarybg">
    <header id ="navbar">
        <div class="navcontainer">
            <h2 class ="navtitle quickfont">NutriTracker</h2>
            <nav>
                <ul>
                    <li><a href="index"> Meal Tracker</a></li>
                    <li><a href = "#">Calorie Requirement</a></li>
                    <li><a href="#"> Edit Lists</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="searchbox">
        <form action ="/foodsearch" method="get" class="trackform" >
            <input type="text" placeholder = "Search Food" name="searchbar" id="query">
            <input type="submit" value="" class="searchbutton">
        </form>
    </div> 
    <div class="card">
        <p class="cardcontainer">
            {{#results}}
                <b>{{label}} <br></b>
                <p>Calories: {{cal}} Protein: {{protein}} Fat: {{fat}} Carbs:{{carb}}</p>
                

            {{/results}}
    </div>
<script src = "/static/nav.js"></script>
</body>
</html> 