body {
    margin: 0;
    background: #0e0f3b;
}

.navcontainer {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #f7931e;
    height: 5em;
    
}
header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    
    float: right;
    width: 60%;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

.navtitle {
    float: left;
    margin: 0;
    padding: 1em;
}

nav ul {
    
    display: flex;
    
}
nav ul li {
    height: 100%;
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
    
}
@font-face {
    font-family: HelsinkiImport;
    src:url('fonts\Helsinki.woff')format('woff')
        url('fonts\helsinki.ttf')format('truetype');
}

nav li a {
    color:  #ffffff;
    text-decoration: none;
    
    font-family: HelsinkiImport;
}

